.title {
  composes: text_type_main-medium from "../common.css";
}

.container {
  padding: 24px 16px 40px;
  display: grid;
  grid-template-columns: 272px 272px;
  column-gap: 24px;
  row-gap: 32px;
}
